/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=STIX+Two+Math&display=swap');

/*main body set up*/



body {
    background-color: #000; 
    color: lightgray;
    font-family: 'STIX Two Math', sans-serif;
}



/*main page image*/
.mainImg {
    background: #000 url(../images/rwby-logo-min.png) center center / cover no-repeat;
    height: 550px;
}

/*set up the nav element for the main page*/
.enterGame {
    width: 100%;
    position: fixed;

    line-height: 0.1;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enterGame img{
    margin-left: 27%;
}

.enterGame a {
    text-decoration: none;
}

.enterGame p {
    text-decoration: none;
    font-size: 200%;
    color: lightgray;
    text-align: center;
    text-shadow: #000 3px 3px;
    width: 400px;
    height: 20px;
}

.logo {
    max-width: 150px;
}

/* setting up the footer element for the index page*/
footer {
    background-color: darkred;
    border: 4px outset red;
    height: 50px;
    width: 70%;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-left: 15%;
}

.footer-text {
    color: lightgray;
    padding-top: 20px;
}

.left-text {
    float: left;
    padding-left: 3rem;
}

.right-text {
    float: right;
    padding-right: 3rem;
}

/*This is the game page*/

#right-nav {
    font-family: 'Cuprum', Arial, sans-serif;
    width: auto;
    background: red;
    color: lightgray;
    float: right;
    position: relative;
    top: -50px;
    justify-content: space-between;
    letter-spacing: 5px;
    align-items: center;
    height: 50px;
}

#right-nav ul {
    list-style-type: none;
    display: flex;
    float: right;
}

#right-nav li {
    margin: 0 3rem;
    border-left: 10px solid black;
    height: 100%;
    font-size: 150%;
    cursor: pointer;
}

.squareAction {
    font-family: 'Cuprum', Arial, sans-serif;
    width: auto;
    background: red;
    color: lightgray;
    position: relative;
    justify-content: space-between;
    letter-spacing: 3px;
    align-items: center;
    height: 50px;
    cursor: crosshair;
}

.squareAction p {
    margin: 15px;
    border-left: 10px solid black;
    height: auto;
    font-size: 150%;
}

/*This is the question area*/

#questionField {
    font-family: 'STIX Two Math', Arial, sans-serif;
    width: 50%;
    height: 130px;
    align-items: center;
    justify-content: center;
    border: 5px solid red;
    background-color: darkred;
    margin-top: 20px;
    margin-left: 20%;
    padding: 2% 5%;
    font-size: 150%;
}

#questionField p {
    text-align: center;
}

#questionCounter {
    width: 100%;
    text-align: center;
}

#questionNumber p {
    align-items: center;
    text-align: center;
}

/*This is where we create the lifeline icons*/

#lifelineCount {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.lifeline img {
    height: 60px;
    margin-right: 5px;
}

/* this is the answer area*/

#answerArea {
    font-family: 'STIX Two Math', Arial, sans-serif;
    margin-top: 10px;
    width: 40%;
    margin-left: 30%;
}

.answerText {
    width: 100%;
    height: 100%;
}

.answerButton {
    width: 100%;
    background-color: #000;
    color: lightgray;
    height: 70px;
    border-radius: 30%;
    margin-bottom: 5px;
    font-size: 125%;
    padding: 0;
}

#answer1.answerButton {
    border: 5px solid red;
}

#answer2.answerButton {
    border: 5px solid white;
}


#answer3.answerButton {
    border: 5px solid darkslategrey;
}

#answer4.answerButton {
    border: 5px solid yellow;
}

.correct {
    background-color: rgb(0, 140, 0);
    color: rgb(241, 241, 241);
}

.incorrect {
    background-color: red;
    color: rgb(66, 66, 66);
}

/*Modal for rules popup on screen*/

#rules-modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(170, 40, 40);
    border: 5px solid red;
    padding: 10px 2rem 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    line-height: 120%;
}

.modal-content h2 {
    border-left: 10px solid black;
    letter-spacing: 2px;
    padding-left: 5px;
}

.modal-content button {
    background-color: black;
    color: lightgray;
    font-size: 200%;
    width: 130px;
    height: 60px;
    margin-bottom: 20px;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    margin-left: 170px;
}

/*This is the popup window for the leaderboard*/

#leaderboard-box {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ldrbrd-content {
    background-color: rgb(170, 40, 40);
    border: 5px solid red;
    padding: 10px 2rem 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    line-height: 120%;
}

.ldrbrd-content h2 {
    border-left: 10px solid black;
    letter-spacing: 2px;
    padding-left: 5px;  
}

.ldrbrd-content button {
    background-color: black;
    color: lightgray;
    font-size: 100%;
    width: auto;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    margin-left: 170px;
}

/*This is the End Game content box if you lose all three lives*/

#gameOver {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameOver-Content {
    background-color: rgb(170, 40, 40);
    border: 5px solid red;
    padding: 10px 2rem 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    line-height: 120%;
}

.gameOver-Content img {
    width: 300px;
    height: auto;
}

.gameOver-Content h1 {
    border-left: 10px solid black;
    letter-spacing: 3px;
    padding-left: 5px; 
}

.gameOver-Content button {
    background-color: black;
    color: lightgray;
    font-size: 100%;
    width: auto;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    margin-left: 170px;
}






/*adding responsive sizing for different viewports  at max width 1200 768 320 px*/
@media screen and (max-width:1280px) {
    #questionField {
        width: 80%;
        margin-top: 10px;
        margin-left: 5%;
        font-size: 120%;
    }

    #lifelineCount {
        height: 40px;
        margin-top: 25px;
    }
    
    .lifeline img {
        height: 50px;
        margin-right: 5px;
    }
    
    #answerArea {
        margin-top: 10px;
        width: 60%;
        margin-left: 20%;
    }
    
    .answerButton {
        width: 100%;
        margin-bottom: 7px;
        font-size: 100%;
        padding: 2px 0;
    }
}

@media screen and (max-width: 861px) {
    .mainImg {
        height: 500px;
    }
}

@media screen and (max-width:820px) {
    
    .left-text {
        float: left;
        width: 100%;
        padding-left: 0rem;
    }
    
    .right-text {
        float: right;
        width: 100%;
        padding-right: 0rem;
    }

    .enterGame img{
        margin-left: 35%;
    }

    .logo {
        max-width: 100px;
    }
}

@media screen and (max-width:768px) {

    .mainImg {   
        background: url(../images/rwbyhighresolutionlogo-min.jpeg) center center / cover no-repeat;
        height: 450px;
    }

    #right-nav {
        letter-spacing: 5px;
    }
    
    #right-nav li {
        margin: 0 1.2rem;
        font-size: 120%;
    }
    
    .squareAction p {
        font-size: 120%;
        letter-spacing: 5px;
    }

    .lifeline img {
        height: 40px;
        margin-right: 3px;
    }
}

@media screen and (max-width:500px) {
    #questionField {
        width: 90%;
        margin-top: 10px;
        margin-left: 5%;
        font-size: 120%;
    }
    
    .lifeline img {
        height: 40px;
    }
    
    #answerArea {
        margin-top: 10px;
        width: 80%;
        margin-left: 10%;
    }
    
    .answerButton {
        margin-bottom: 3px;
    }
}

@media screen and (max-width: 420px) {
    .mainImg {
        height: 320px;
    }

    .enterGame img{
        margin-left: 35%;
    }

    .enterGame p {
        font-size: 150%;
        line-height: 5px;
    }

    footer {
        width: 90%;
        text-align: center;
        position: fixed;
        bottom: 0;
        margin-left: 0;
    }

    .left-text {
        float: left;
        width: 100%;
        padding-left: 0;
    }
    
    .right-text {
        float: right;
        width: 100%;
        padding-right: 0;
    }
    
    #right-nav {
        width: auto;
        background: red;
        letter-spacing: 1px;
    }
    
    #right-nav ul {
        list-style-type: none;
        display: flex;
        float: right;
    }
    
    #right-nav li {
        margin: 0 .5rem 0 .5rem;
        font-size: 100%;
    }
    
    .squareAction {
        letter-spacing: 0px;
    }
    
    .squareAction p {
        margin: .5rem;
    }

    #questionField {
        width: 96%;
        margin-top: 10px;
        margin-left: 2%;
        font-size: 100%;
    }

    #lifelineCount {
        height: 20px;
        margin-top: 20px;
    }
    
    .lifeline img {
        height: 30px;
        margin-right: 5px;
    }
    
    #answerArea {
        margin-top: 10px;
        width: 96%;
        margin-left: 2%;
    }
    
    .answerButton {
        width: 100%;
        margin-bottom: 7px;
        font-size: 100%;
        padding: 1px 0;
    }
}

/*@media screen and (max-width: 320px) {
    #questionField {
        font-family: 'STIX Two Math', Arial, sans-serif;
        width: 96%;
        padding: 2%;
    }
}*/