/*main body set up*/

body {
    background-color: black;
    color: lightgray;
}

/*main page image*/
.mainImg {
    width: 70vw;
    height: auto;
    margin-left: 15%;
}

/*set up the nav element for the main page*/
.enterGame {
    width: 100%;
    position: fixed;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enterGame img{
    margin-left: 27%;
}

.enterGame a {
    text-decoration: none;
}

.enterGame p {
    text-decoration: none;
    font-size: 200%;
    color: lightgray;
    text-shadow: #000;
    text-align: center;
    z-index: 1;
}

.logo {
    max-width: 150px;

}

/* setting up the footer element for the index page*/
footer {
    background-color: darkred;
    border: 4px outset red;
    height: 50px;
    width: 70%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 15%;
}

.footer-text {
    color: lightgray;
    padding-top: 20px;
}
.left-text {
    float: left;
    padding-left: 3rem;
}

.right-text {
    float: right;
    padding-right: 3rem;
}


/*This is the game page*/

#right-nav {
    width: auto;
    background: red;
    color: lightgray;
    float: right;
    position: relative;
    top: -50px;
    justify-content: space-between;
    letter-spacing: 3px;
    align-items: center;
    height: 50px;
}

#right-nav ul {
    list-style-type: none;
    display: flex;
    float: right;
}

#right-nav li {
    margin: 0 2rem;
    border-left: 10px solid black;
    height: 100%;
    font-size: 150%;
}

.squareAction {
    width: auto;
    background: red;
    color: lightgray;
    position: relative;
    justify-content: space-between;
    letter-spacing: 3px;
    align-items: center;
    height: 50px;
}

.squareAction p {
    margin: 15px;
    border-left: 10px solid black;
    height: auto;
    font-size: 150%;
}

/*This is the question area*/

.questionField {
    width: 60%;
    height: 130px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 5px solid red;
    background-color: darkred;
    margin-top: 20px;
    margin-left: 20%;
    font-size: 150%;
}

/*This is where we create the lifeline icons*/

#lifelineCount {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.lifeline img {
    height: 70px;
    margin-right: 5px;
}

/* this is the answer area*/

#answerArea {
    margin-top: 10px;
    width: 40%;
    margin-left: 30%;
}

.answerButton {
    width: 100%;
    height: auto;
    border-radius: 30%;
    margin-bottom: 5px;
    color: lightgray;
    font-size: 125%;
    line-height: 0.2;
}


#answer1.answerButton {
    border: 5px solid red;
    background-color: black;
}

#answer1:hover {
    background-color: rgb(50, 0, 0);
}

#answer2.answerButton {
    border: 5px solid white;
    background-color: black;
}

#answer2:hover {
    background-color: rgb(129, 148, 255);
    color: rgb(240, 240, 240);
}

#answer3.answerButton {
    border: 5px solid darkslategrey;
    background-color: black;
}

#answer3:hover {
    background-color: rgb(49, 25, 80);
}

#answer4.answerButton {
    border: 5px solid yellow;
    background-color: black;
}

#answer4:hover {
    background-color: rgb(167, 114, 0);
}