/*main body set up*/

body {
    background-color: black;
}

/*main page image*/
.mainImg {
    width: 70vw;
    height: auto;
    margin-left: 15%;
}

/*set up the nav element for the main page*/
#enterGame {
    width: 100%;
    position: fixed;
    bottom: 70px;
}

#enterGame img {
    position: absolute;
    top: -100px;  
    left: 45%; 
    z-index: 3;
}

#enterGame a {
    text-decoration: none;
    font-size: 200%;
    color: lightgray;
}

#enterGame p {
    text-shadow: #000;
    text-align: center;
    z-index: 1;
    bottom: 10px;
}

.logo {
    max-width: 150px;

}


/* setting up the footer element for the index page*/
footer {
    background-color: darkred;
    border: 4px outset red;
    height: 50px;
    width: 70%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 15%;
}

.footer-text {
    color: lightgray;
    padding-top: 20px;
}
.left-text {
    float: left;
    padding-left: 3rem;
}

.right-text {
    float: right;
    padding-right: 3rem;
}