/*main body set up*/

body {
    background-color: black;
}

nav {
    
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 500px;
}

/*set up the nav element for the main page*/
nav a {
    text-decoration: none;
    font-size: 300%;
    color: lightgray;
}


/* setting up the footer element for the index page*/
footer {
    background-color: darkred;
    border: 4px outset red;
    height: 50px;
    width: 70%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 15%;
}

.footer-text {
    color: lightgray;
    padding-top: 20px;
}
.left-text {
    float: left;
    padding-left: 3rem;
}

.right-text {
    float: right;
    padding-right: 3rem;
}