/*main body set up*/

body {
    background-color: black;
}

/*main page image*/
.mainImg {
    width: 70vw;
    height: auto;
    margin-left: 15%;
}

/*set up the nav element for the main page*/
.enterGame {
    width: 100%;
    position: fixed;
    bottom: 50px;
}

.enterGame img {
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    top: -200px;
    z-index: 3;
}

.enterGame p {
    text-decoration: none;
    font-size: 200%;
    color: lightgray;
    text-shadow: #000;
    text-align: center;
    z-index: 1;
}

.logo {
    max-width: 150px;

}


/* setting up the footer element for the index page*/
footer {
    background-color: darkred;
    border: 4px outset red;
    height: 50px;
    width: 70%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 15%;
}

.footer-text {
    color: lightgray;
    padding-top: 20px;
}
.left-text {
    float: left;
    padding-left: 3rem;
}

.right-text {
    float: right;
    padding-right: 3rem;
}


/*This is the game page*/

#right-nav {
    width: auto;
    background: red;
    color: lightgray;
    float: right;
    position: relative;
    top: -50px;
    justify-content: space-between;
    letter-spacing: 3px;
    align-items: center;
    height: 50px;
}

#right-nav ul {
    list-style-type: none;
    display: flex;
    float: right;
}

#right-nav li {
    margin: 0 2rem;
    border-left: 10px solid black;
    height: 100%;
    font-size: 150%;
    font-weight: 400;
}

.squareAction {
    width: 100px;
    height: 50px;
    margin: 10px 0 0 10px;
    background-color: red;
    color: lightgray;
    text-align: center;
}

.squareAction p {
    margin: 15px;
    border-left: 10px solid black;
    height: 100%;
    font-size: 150%;
    font-weight: 400;
}

.questionField {
    width: 40%;
    height: 200px;
    text-align: center;
    background-color: darkred;
    margin-top: 100px;
    margin-left: 30%;
}

#answerArea {
    width: auto;
    margin-top: 50px;
    margin-left: 15%;
}

.answerButton {
    width: 300px;
    height: 100px;
    margin: 0px 70px 50px 0rem;
}